body{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}
.top-nav{
	font-size: 12px;
	font-weight: bold;
	list-style: none;
}
.top-nav li{
	float: left;
	list-style: none;
	margin-right: 1px;
}
.top-nav li a{
	line-height: 20px;
	text-decoration:none;
	background: #ddd;
	color: #666;
	display: block;
	width: 120px;
	height: 34px;
	line-height: 34px;
	text-align: center;
}
.top-nav  li a:hover{
	background: url(../images/slide-pannel_14.png) 0 0 repeat-x;;
}
.top-nav  ul{
	list-style: none;
	display: none;
	width: 120px;
	padding: 0;
	position: absolute;		/*让一级菜单从文档流中脱离出来*/
	height: 0;
	overflow: hidden;
}	
.note{
	color: #3f240e;
	display: block;
	background: url(../images/slide-pannel_14.png) 0 0 repeat-x;;
}
.corner{
	display: block;
	height: 11px;
	background: url(../images/bird.png)31px 0 no-repeat;
}
